<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.mysvvvappbeta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_cn_circle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_cn_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_cn_new" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        >
        <activity
            android:name=".S"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MA"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".L.LG"
            android:configChanges="screenSize|orientation"
            android:theme="@style/LoginTheme" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".O.PDA"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".O.PD">
            <intent-filter>
                <action android:name="OPEN_POST_DETAILS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.NF"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".MA" />
        <activity android:name=".meta.N">
            <intent-filter>
                <action android:name="OPEN_NOTICE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".O.PopupActivity"
            android:configChanges="screenSize|orientation"
            android:label="helo"
            android:theme="@style/AppThemeWithWhiteStatusBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="OPEN_COMMENT_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".T.E" />
        <activity android:name=".T.TT" />
        <activity
            android:name=".L.LGC"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".UI.HF"
            android:theme="@style/AppTheme" />
        <activity android:name=".meta.AU" />
        <activity
            android:name=".T.F"
            android:theme="@style/AppThemeWithBlackStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".O.FT" />
        <activity android:name=".T.SC" />
        <activity android:name=".O.NU" />
        <activity android:name=".J.NExceptionHandler" />
        <activity android:name=".meta.A" />
        <activity android:name=".T.E2" />
        <activity android:name=".J.ME" />
        <activity android:name=".L.V"></activity>
    </application>

</manifest>